@import "./furore.css";
@import "./montserrat.css";

@import "tailwindcss";
@plugin "tailwindcss-motion";

@theme inline {
  --color-logo-blue: #00afef;
  --color-logo-orange: #f58634;

  --font-furore: Furore, var(--font-serif);
  --font-montserrat: Montserrat, var(--font-sans);

  --default-transition-duration: 500ms;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  dialog {
    margin: auto;
  }

  input::placeholder,
  textarea::placeholder {
    color: var(--color-slate-400);
  }

  strong,
  b {
    font-weight: 700;
  }
}

@layer theme {
  :focus {
    @apply outline-none;
  }

  :focus-visible {
    @apply outline-logo-orange outline-2 outline-solid;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}
