@import "tailwindcss";
@plugin "tailwindcss-motion";

@theme {
  --color-logo-blue: #00AFEF;
  --color-logo-orange: #F58634;
  --font-montserrat: "Montserrat", "Montserrat Fallback";
  --font-roboto: "Roboto Flex", "Roboto Flex Fallback";
}

@layer theme {
  .bg-texture {
    background-image: url(/images/texture.svg);
  }

  .bg-diagonal-lines {
    background-image: url(/images/diagonal-lines.svg);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .timeline-view {
    animation-timeline: view();
    animation-timing-function: linear;
    animation-range-start: 100px;
  }

  .gradient-size-200 {
    background-size: 200% 200%;
  }

  .gradient-pos-0 {
    background-position: 0% 0%;
  }

  .hover\:gradient-pos-100:hover {
    background-position: 100% 100%;
  }
  
  @keyframes headerFadeIn {
    from {
      background-color: oklcha(0.269 0 0 0);
    }
    to {
      background-color: oklcha(0.269 0 0 1);
    }
  }
}
