@import "tailwindcss";
@plugin "tailwindcss-motion";

@theme {
  --color-logo-blue: #00afef;
  --color-logo-orange: #f58634;
  --font-sans: "Montserrat", "Montserrat Fallback", sans-serif;
  --font-furore: "Furore", "furore Fallback", sans-serif;
  --default-transition-duration: 500ms;
}

@layer theme {
  .brand-gradient {
    @apply from-sky-600 to-cyan-700;
  }

  .button-gradient {
    @apply from-sky-500 to-cyan-700;
  }

  @keyframes scale-in {
    from {
      opacity: 0;
      rotate: -10deg;
      scale: 0.9;
    }
    to {
      opacity: 1;
      rotate: 0deg;
      scale: 1;
    }
  }

  @keyframes scale-out {
    from {
      opacity: 1;
      rotate: 0deg;
      scale: 1;
    }
    to {
      opacity: 0;
      rotate: -10deg;
      scale: 0.95;
    }
  }

  *:focus {
    @apply outline-none;
  }

  *:focus-visible {
    @apply outline-logo-orange outline-2 outline-solid;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .timeline-view {
    animation-timeline: view();
    animation-timing-function: linear;
    animation-range-start: 100px;
  }

  .gradient-size-200 {
    background-size: 200% 200%;
  }

  .gradient-pos-0 {
    background-position: 0% 0%;
  }

  .hover\:gradient-pos-100:hover {
    background-position: 100% 100%;
  }
}
