@import "./furore.css";
@import "./montserrat.css";

@import "tailwindcss";
@plugin "tailwindcss-motion";

@theme inline {
  --color-logo-blue: #00afef;
  --color-logo-orange: #f58634;

  --font-fallback:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-furore: Furore, var(--font-fallback);
  --font-montserrat: Montserrat, var(--font-fallback);

  --default-transition-duration: 500ms;
}

@layer theme {
  .brand-gradient {
    @apply from-sky-600 to-cyan-700;
  }

  .button-gradient {
    @apply from-sky-500 to-cyan-700;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .timeline-view {
    animation-timeline: view();
    animation-timing-function: linear;
    animation-range-start: 100px;
  }

  h1 {
    @apply text-4xl font-semibold tracking-tight md:text-5xl;
  }

  h2 {
    @apply text-3xl font-semibold text-sky-700 lg:text-4xl;
  }

  h3 {
    @apply text-2xl font-semibold lg:text-3xl;
  }

  h4 {
    @apply text-xl font-semibold lg:text-2xl;
  }

  strong,
  b {
    @apply font-bold;
  }

  *:focus {
    @apply outline-none;
  }

  *:focus-visible {
    @apply outline-logo-orange outline-2 outline-solid;
  }
}
