@import "./furore.css";
@import "./montserrat.css";

@import "tailwindcss";
@plugin "tailwindcss-motion";

@theme inline {
  --color-logo-blue: #00afef;
  --color-logo-orange: #f58634;

  --font-fallback: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-furore: Furore, var(--font-fallback);
  --font-montserrat: Montserrat, var(--font-fallback);

  --default-transition-duration: 500ms;
}

@layer theme {
  :focus {
    @apply outline-none;
  }

  :focus-visible {
    @apply outline-logo-orange outline-2 outline-solid;
  }
}

@layer utilities {
  strong,
  b {
    @apply font-bold;
  }
}
